{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Organise an activity" %}{% endblock %}
{% block content %}
<h1>{% trans "Organise an activity" %}</h1>
{% blocktrans with cohort=user.get_cohort_display %}<p class="muted">It will be visible only to people in your cohort
  (<strong>{{ cohort }}</strong>).</p>{% endblocktrans %}
<form method="post">{% csrf_token %}
  {{ form.as_p }}
  <button class="btn" type="submit">{% trans "Create activity" %}</button>
</form>
{% endblock %}
